@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.loweredElement{
  margin-top: 30px;
}

.progress.active, .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.navbar-default .navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px;
}

.navbar-brand img {
  height: 100%;
  margin-right: 20px;
}

#brandHeader{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.subBrandHeader{
  color: #00ffb1;
  /*color: #02d191;*/
  /*color: #68ffd1;*/
}

#subJumboHeader{
  color: white;
}

.colouredJumbo{
  background-color: #00ffb1;
  /*background-color: #68ffd1;*/
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

p, li, input, textarea, .btn{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.lighterFont{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}